/* @format */
@font-face {
  font-family: "Rockwell Condensed";
  src: url("rockwell-condensed.woff2") format("woff2"),
    url("rockwell-condensed.woff") format("woff");
}

:root {
  --big-email-input-font-size: 2em;
  --big-email-input-color: white;
  --big-email-input-text-align: center;

  --small-email-input-font-size: 1.25em;

  --logo-font: "Rockwell Condensed";
  --text-font: "Arial";
}

body {
  background-color: black;
  color: white;
}

/* Apparently, the regular form tag comes with a default margin 🤮 */
.register form {
  margin: 0;
}

.hero,
.register form {
  padding: 0 10vw 0 10vw;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  line-height: 1.5;

  height: 100vh;
  width: 80vw;
}

.hero h1 {
  margin: 0;

  font-family: var(--logo-font);
  font-size: 15em;
  letter-spacing: 0.1em;
}

p {
  display: inline-block;

  font-family: var(--text-font);
  text-align: left;
}

.register p {
  width: 30em;
  margin: 2em 0 2em 0;
}

.hero p {
  margin-top: -1em;
  width: 40em;
}

@media only screen and (max-width: 600px) {
  .hero {
    padding: 0;
    margin: 0 auto;
    width: 100vw;
  }

  .hero h1 {
    font-size: 6em;
  }

  .hero p,
  .register p {
    width: auto;
    margin: 5vh 5vw 5vh 5vw;
  }
}

input[type="submit"],
button {
  /* reset format for button input */
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;

  /* new styling */
  border: 3px solid white;
  padding: 5px 2em 5px 2em;
  margin: 1em;

  font-family: var(--text-font);
  font-weight: bold;
}

a input[type="submit"],
a button {
  color: white;
  text-decoration: none;
}

input[type="email"] {
  /* reset format for button input */
  border: none;
  background-image: none;
  background-color: transparent;
  box-shadow: none;
  outline: none;

  /* new styling */
  border-bottom: 3px solid white;
  width: 70vw;
  height: 2em;
  padding: 0.5em;

  font-family: var(--text-font);
  color: var(--big-email-input-color);
  font-size: var(--big-email-input-font-size);
  text-align: var(--big-email-input-text-align);
}

*::-webkit-input-placeholder {
  color: var(--big-email-input-color);
  font-size: var(--big-email-input-font-size) * 0.7;
  text-align: var(--big-email-input-text-align);
}
*:-moz-placeholder {
  /* FF 4-18 */
  opacity: 1;
  color: var(--big-email-input-color);
  font-size: var(--big-email-input-font-size) * 0.7;
  text-align: var(--big-email-input-text-align);
}
*::-moz-placeholder {
  /* FF 19+ */
  opacity: 1;
  color: var(--big-email-input-color);
  font-size: var(--big-email-input-font-size) * 0.7;
  text-align: var(--big-email-input-text-align);
}
*:-ms-input-placeholder {
  /* IE 10+ */
  color: var(--big-email-input-color);
  font-size: var(--big-email-input-font-size) * 0.7;
  text-align: var(--big-email-input-text-align);
}
*::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--big-email-input-color);
  font-size: var(--big-email-input-font-size) * 0.7;
  text-align: var(--big-email-input-text-align);
}
*::placeholder {
  /* modern browser */
  color: var(--big-email-input-color);
  font-size: var(--big-email-input-font-size) * 0.7;
  text-align: var(--big-email-input-text-align);
}

@media only screen and (max-width: 600px) {
  input[type="email"] {
    font-size: var(--small-email-input-font-size);
  }

  *::-webkit-input-placeholder {
    font-size: var(--small-email-input-font-size);
  }
  *:-moz-placeholder {
    /* FF 4-18 */
    font-size: var(--small-email-input-font-size);
  }
  *::-moz-placeholder {
    /* FF 19+ */
    font-size: var(--small-email-input-font-size);
  }
  *:-ms-input-placeholder {
    /* IE 10+ */
    font-size: var(--small-email-input-font-size);
  }
  *::-ms-input-placeholder {
    /* Microsoft Edge */
    font-size: var(--small-email-input-font-size);
  }
  *::placeholder {
    /* modern browser */
    font-size: var(--small-email-input-font-size);
  }
}
